# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @root

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only these and not the global
# owner(s) will be requested for a review.
*.js @javascript

# In this example, the user owns any files in the src directory
# at the root of the repository and any of its subdirectories.
/src/ @source

# There's a plugin folder inside /src/ that we'll be using to test
# that the pattern matching is working correctly. See codeowners.test.ts
plugins/ @plugins

# This should override the plugins/ rule above and assign the user
/src/plugins/eslint.js @eslint-plugin
