name: CLI Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - run: echo "Running tests on branch ${{ github.ref_name }}"

      - name: Checkout code
        uses: actions/checkout@v4 # https://github.com/actions/checkout
        with:
          fetch-depth: 0 # fetches all commits from all branches
          ref: ${{ github.head_ref || github.ref_name }} # https://docs.github.com/en/actions/learn-github-actions/contexts#github-context

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install node dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint

      - name: Run format
        run: |
          FILES=$(git diff --name-only --diff-filter=d origin/main... | grep "\.js$")
          if [ -n "$FILES" ]; then
            npx prettier --check $FILES
          fi

      - name: Run tests
        run: npm test
