name: CLI Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install node dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint

      - name: Run format
        run: |
          FILES=$(git diff --name-only --diff-filter=d origin/main... | grep "\.js$")
          if [ -n "$FILES" ]; then
            npx prettier --check $FILES
          fi

      - name: Run tests
        run: npm test
